.footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 30px;
    background-color: #3b455a;
}

.footer-column {
    flex: 1;
    /* Allow each column to take equal width */
    padding: 0 20px;
    color: white;
    margin-left: 70px;
    line-height: 1.6;
}

.footer-column p {
    color: rgba(213, 213, 213, 0.6);
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    gap: 18px;
    padding-top: 5%;
}

.icon {
    font-size: 20px;
    color: white;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
}

h3 {
    margin-bottom: 8px;
}

.footer-column li {
    margin: 5px 0;
    list-style-type: none !important;
    padding: 0;
    margin-left: -2px !important;
}

ul li a {
    color: rgba(213, 213, 213, 0.6) !important;
    text-decoration: none;
}